<footer class="bg-white rounded">
    <div class="container text-center">
        <span>
            <h6>CÔNG TY TNHH CHỢ TỐT - Người đại diện theo pháp luật: Nguyễn Trọng Tấn; GPDKKD: 0312120782 do sở KH & ĐT
                TP.HCM cấp ngày 11/01/2013;</h6>
            <h6>GPMXH: 17/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 15/01/2019 - Chịu trách nhiệm nội dung: Trần
                Minh Ngọc. <a href="#">Chính sách sử dụng</a></h6>
            <h6>Địa chỉ: Tầng 18, Toà nhà UOA, Số 6 đường Tân Trào, Phường Tân Phú, Quận 7, Thành phố Hồ Chí Minh, Việt
                Nam;
                Email: trogiup@chotot.vn - Tổng đài CSKH: 19003003 (1.000đ/phút)</h6>
        </span>
    </div>
</footer>